<!-- <div [ngStyle]="{'padding-top':250+'px'}">  -->
<div>
  <img src="assets/images/living-room.jpg" class="bg">
  <amexio-row>
    <amexio-column size="12" style="padding-top:14%">
    </amexio-column>
  </amexio-row>
  <amexio-layout-columns [orientation]="'vertical'" [border]="false">
    <amexio-layout-item [fit]="true" *ngFor="let alignment of ['center']">
      <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="alignment">
        <amexio-layout-item>
          <amexio-label size="large-bold">
            Properties for Buy
          </amexio-label>
        </amexio-layout-item>
      </amexio-layout-columns>
    </amexio-layout-item>
  </amexio-layout-columns>
  <amexio-layout-columns [orientation]="'vertical'" [border]="false" [alignment]="'center'">
    <amexio-layout-item [fit]="true">
      <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
        <amexio-layout-item>
          <app-search [search-model]="dtsService.searchModel"></app-search>
        </amexio-layout-item>
      </amexio-layout-columns>
    </amexio-layout-item>
  </amexio-layout-columns>
</div>
<!-- </div> -->