




<amexio-card
  [header]="false"
  [header-align]="'left'"
  [footer]="true"
  [footer-align]="'center'"
  [show]="showOTPWindow">

    <amexio-body>
    <amexio-layout-columns [orientation]="'vertical'" [border]="false">
      <amexio-layout-item [fit]="true" *ngFor="let alignment of ['center']">
        <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="alignment">
          <amexio-layout-item>
            <amexio-image [path]="'assets/images/building.png'" height="100px"  width="100px"  [filter]="'round'" [title-position]="'centered'">
            </amexio-image>
          </amexio-layout-item>
        </amexio-layout-columns>
      </amexio-layout-item>
    </amexio-layout-columns>
    
    <amexio-row>
      <amexio-column [size]="12">
 <amexio-number-input name="otp" [field-label]="'OTP'" [place-holder]="'Enter OTP'" [(ngModel)]="oTP">
                            </amexio-number-input>
      </amexio-column>
    </amexio-row>
    </amexio-body>
    <amexio-action>
         <amexio-button  [size]="'medium'" [type]="'primary'" (onClick)="onVerify()" label="Verify"></amexio-button>
         <amexio-button  [size]="'medium'" [type]="'primary'" (onClick)="onCancel()" label="Cancel"></amexio-button>
    </amexio-action>
</amexio-card>