<amexio-card [header]="false" [header-align]="'left'" [footer]="true" [footer-align]="'center'" [show]="showOTPWindow">
    <amexio-body>
        <amexio-row>
            <amexio-column size ="12"
                            [fit]="true">
                <amexio-layout-columns  [border]="false" 
         [fit]="true" [alignment]="'center'" [orientation]="'horizontal'">
                    <amexio-layout-item>
                        <amexio-image class="authImage" [path]="'assets/images/building.png'"  [filter]="'round'" [title-position]="'centered'">
                        </amexio-image>
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-column>
        </amexio-row>
        <br><br>
        <amexio-layout-columns style="font-size:2em;" [border]="false" [fit]="true"
                [alignment]="'start'" [orientation]="'vertical'">
                <amexio-layout-item>
                     <amexio-text-input name="otp" [field-label]="'OTP'" [place-holder]="'Enter OTP'" [(ngModel)]="oTP">
                        </amexio-text-input>
                </amexio-layout-item>
              </amexio-layout-columns>
    </amexio-body>
    <amexio-action>
        <amexio-button [size]="'default'" [type]="'secondary'" [icon]="'fa fa-times'" (onClick)="onCancel()" label="Cancel"></amexio-button>
        <amexio-button [size]="'default'" [type]="'primary'" [icon]="'fa fa-check'" (onClick)="onVerify()" label="Verify"></amexio-button>
    </amexio-action>
</amexio-card>