<div [formGroup]="userRegistrationGroup">
<amexio-card [header]="false" [header-align]="'left'" [footer]="true" [footer-align]="'center'" [show]="showregisterWindow">
  <amexio-body>
     <amexio-row>
      <amexio-column size="12">
    <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="right">
          <amexio-layout-item>
            <amexio-image style="cursor: pointer;" [icon-class]="'fa fa-arrow-left fa-lg'" [tooltip]="'Back'" (onClick)="onBack()"></amexio-image>
          </amexio-layout-item>
        </amexio-layout-columns>
        <amexio-layout-columns style="font-size:2em;" [border]="false" [fit]="true" [alignment]="'center'" [orientation]="'horizontal'">
          <amexio-layout-item>
            <amexio-image class="authImage"  [path]="'assets/images/building.png'"  [filter]="'round'" [title-position]="'centered'">
            </amexio-image>
          </amexio-layout-item>
        </amexio-layout-columns>
        <!-- <amexio-layout-columns style="font-size:2em;" [border]="false" [fit]="true" [alignment]="'center'" [orientation]="'horizontal'">
          <amexio-layout-item>
            <amexio-label size="medium-bold">Your Keys Await</amexio-label>
          </amexio-layout-item>
        </amexio-layout-columns> -->
      </amexio-column>
     </amexio-row>
      <!-- </amexio-layout-item>
    </amexio-layout-columns> -->
    <amexio-row>
      <amexio-column size="12" [fit]="true">
        <amexio-text-input formControlName="Name" field-label="Name" place-holder="Enter Name" [(ngModel)]="userModel.name">
        </amexio-text-input>
        <amexio-number-input  formControlName="Phone"  [field-label]="'Phone'" [place-holder]="'Enter phone Number'" [(ngModel)]="userModel.phone"
        [enable-popover]="true" [error-msg]="'Please enter valid phone number'">
        </amexio-number-input>
        <amexio-password-input   formControlName="Password" [enable-popover]="true" [field-label]="'Password'" [place-holder]="'Enter Password'"
          [allow-blank]="false" [error-msg]="'Please enter password'" [min-length]="6" [min-error-msg]="'Minimum 6 char required'"
          [max-length]="32" [max-error-msg]="'Maximum 32 char allowed'" [icon-feedback]="true" [(ngModel)]="userModel.password">
        </amexio-password-input>
      </amexio-column>
    </amexio-row>
  </amexio-body>
  <amexio-action>
    <!-- <amexio-button  [size]="'medium'" [type]="'primary'" (onClick)="onBack()" label="Back"></amexio-button> -->
      <amexio-button   [size]="'default'" [type]="'secondary'" [icon]="'fa fa-times'" (onClick)="onCancel()" label="Cancel"></amexio-button>
    <amexio-button [disabled]="!userRegistrationGroup.valid"  [size]="'default'" [icon]="'fa fa-user-plus'" [type]="'primary'" (onClick)="onRegister()" label="Register"></amexio-button>
  </amexio-action>
</amexio-card>
</div>