<amexio-nav [enable-side-nav-position]="false">
    <amexio-nav-item position-left [type]="'link'" [icon]="'fa fa-angle-double-up'" [title]="'Cards.com'" (onNavItemClick)="onCardsclick($event)">
    </amexio-nav-item>
    <amexio-nav-item position-right [type]="'link'" [icon]="'fa fa-user'" [title]="'Login'" (onNavItemClick)="onLoginLinkClick($event)">
    </amexio-nav-item>
</amexio-nav>
<!-- <app-authentication [showWindow]="auth_Service.showWindow"></app-authentication> -->
<router-outlet></router-outlet>