<!-- <amexio-card [show]="showLogin" [header]="false" [header-align]="'left'" [footer]="true" [footer-align]="'center'"> -->

  <amexio-body>
    <amexio-row>
      <amexio-column size="12">
        <amexio-layout-columns style="font-size:2em;" [border]="false" [fit]="true" [alignment]="'center'" [orientation]="'horizontal'">
          <amexio-layout-item>
            <amexio-image class="authImage" [path]="'assets/images/building.png'"  [filter]="'round'" [title-position]="'centered'">
            </amexio-image>
          </amexio-layout-item>
        </amexio-layout-columns>
        <amexio-layout-columns style="font-size:2em;" [border]="false" [fit]="true" [alignment]="'center'" [orientation]="'horizontal'">
          <amexio-layout-item>
            <amexio-label size="medium-bold">Your Keys Await</amexio-label>
          </amexio-layout-item>
        </amexio-layout-columns>
        <amexio-layout-columns style="font-size:2em;" [border]="false" [fit]="true" [alignment]="'center'" [orientation]="'vertical'">
          <amexio-layout-item>
            <amexio-label size="small-bold" font-color="gray">
              Secure, seamless search starts here</amexio-label>
          </amexio-layout-item>
        </amexio-layout-columns>

        <amexio-layout-columns [border]="false" [fit]="true" [alignment]="'space-between'" [orientation]="'horizontal'">
          <amexio-layout-item>
            <amexio-login-social [style-type]="'circle'" [api-key]="'743009515877-3rfp9u0b2iq95m2o2921kc3hecaamc3e'" [type]="'google'"
              (onLogin)="onGoogleClick($event)">
            </amexio-login-social>
          </amexio-layout-item>
          <amexio-layout-item>
            <amexio-login-social [style-type]="'circle'" [api-key]="'320512778592240'" [type]="'facebook'" (onLogin)="onFacebookClick($event)">
            </amexio-login-social>
          </amexio-layout-item>
          <amexio-layout-item>
            <amexio-login-social [style-type]="'circle'" [api-key]="'81wzvqnx8wtvmg'" [type]="'linkedin'" (onLogin)="onLinkedinClick($event)">
            </amexio-login-social>
          </amexio-layout-item>
        </amexio-layout-columns>
      </amexio-column>
    </amexio-row>

  </amexio-body>
  <amexio-action>
    <amexio-row>
      <amexio-column size="6" [fit]="true">
        <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
          <amexio-layout-item [fit]="true">
            <amexio-button [size]="'default'" [icon]="'fa fa-sign-in'" [label]="'Sign in'" (onClick)="onSignInClick($event)" [type]="'primary'"
              [tooltip]="'Sign in'"></amexio-button>
          </amexio-layout-item>
        </amexio-layout-columns>
      </amexio-column>
      <amexio-column size="6" [fit]="true">
        <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
          <amexio-layout-item [fit]="true">
            <amexio-button [size]="'default'" [icon]="'fa fa-user-plus'" [label]="'Register'" (onClick)="onRegisterClick($event)" [type]="'primary'"
              [tooltip]="'Register'"></amexio-button>
          </amexio-layout-item>
        </amexio-layout-columns>
      </amexio-column>
    </amexio-row>
  </amexio-action>
<!-- </amexio-card> -->