 <!-- <amexio-btn-group [size]="'default'" class="localsearch"> 
<amexio-button
    [label]="'Buy'"
    [type]="'theme-color'"
    [tooltip]="'toolTip'"
    [icon]="'icon'"
    [disabled]="false"
     [bg-color]="'#660c00'" 
    (onClick)="onBuyClick($event)">
</amexio-button>
<amexio-button
    [label]="'Sell'"
    [type]="'theme-color'"
    [tooltip]="'toolTip'"
    [icon]="'icon'"
    [disabled]="false"
    (onClick)="onSell()">
</amexio-button>
  </amexio-btn-group>  -->
 <div class="localsearch">
     <amexio-dropdown 
                 [(ngModel)]="searchModel.category"
                 [place-holder]="'Choose'"
                 name="category"
                 [field-label]="''"
                 [data]="categories"
                 [display-field]="'name'"
                 [value-field]="'id'"
                 [enable-sort]="true"
                 [sort]="'asc'" >
</amexio-dropdown>

<amexio-text-input [field-label]="'label'" name ="name"
[has-label]="false"
   [place-holder]="'Enter Data'"
   [(ngModel)]="searchModel.searchData"
   [icon-feedback]="true" class="localsearchtext">
</amexio-text-input>
<amexio-button
    [label]="'Search'"
    [type]="'theme-color'"
    [badge]="badge"
    [tooltip]="'toolTip'"
    [icon]="'icon'"
    [disabled]="false"
    [size]="'default'"
    [loading]="false"
    [block]="false"
    (onClick)="onSearchButtonClick($event)">
</amexio-button>
</div> 
 <amexio-dialogue [(show)]="warningdialogue" [material-design]="true" [message]="warningMsg" [title]="'Error'" [message-type]="'error'" [type]="'alert'">
</amexio-dialogue> 