 <!-- <amexio-btn-group [size]="'default'" >  -->
<amexio-button 
    [label]="'Buy'"
    [type]="'theme-color'"
    [tooltip]="'toolTip'"
    [icon]="'icon'"
    [disabled]="false"
    (onClick)="onBuyClick($event)" class="localsearch">
</amexio-button>
<amexio-button
    [label]="'Sell'"
    [type]="'theme-color'"
    [tooltip]="'toolTip'"
    [icon]="'icon'"
    [disabled]="false"
    (onClick)="onSell()" class="localsearch"> 
</amexio-button>
  <!-- </amexio-btn-group>  -->
<app-searchbox [search-model]="searchModel"></app-searchbox>
<amexio-dialogue [(show)]="warningdialogue" [material-design]="true" [message]="warningMsg" [title]="'Warning'" [message-type]="'warning'" [type]="'alert'">
</amexio-dialogue>