/* You can add global styles to this file, and also import other style files */

.navlogo .navbar-logo{
    padding-right: 5px !important;
}
.bg{
     position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%; 
    z-index:-1;
  }
/* You can add global styles to this file, and also import other style files */
.localsearch .inputgroup {
    display: inline-block!important;
};

.localsearch .inputgroup ::placeholder{
    padding-left: 5px!important;
}
.localsearch  .button-default {
     height: 43px!important;
     border-radius: 0px!important;
}

.localsearch  .button-primary{
     height: 43px!important;
      border-radius: 0px!important;
}


.localsearchtext .input-control {
    width: 520px!important;
}
 
.login-window .modal-window-middle{
     padding: 0px!important;

}  

.full-page {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
}
.main-class {
    text-align: center;
    width: 100%;
}

.horizontal-position {

    text-align: -webkit-center;
}


.pic-style {

    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%; 
    z-index:-1;
    background-color:rgba(128,127,127,.6);
}

.login {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
}
.authImage .image-round{
     height:100px!important;
     width: 100px!important;
}
.maincardImage .ng-star-inserted{
     height:400px!important;
     width: 420px!important;
}

.cardIconImage .ng-star-inserted{
     height:80px!important;
     width: 90px!important;
}
.sellImage .img-fluid{
     height:80px!important;
     width: 90px!important;
}

  