<div>
  <img src="assets/images/living-room1.jpg" class="bg">
  <amexio-row>
    <amexio-column size="12" style="padding-top:6%">
      <amexio-layout-columns [orientation]="'vertical'" [border]="false" [alignment]="'center'">
        <amexio-layout-item>
          <amexio-layout-columns [fit]="true" [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
            <amexio-layout-item>
              <amexio-row>
                <amexio-column size="12" [fit]="true">
                  <app-user-registration [user-model]="userModel" [showregisterWindow]="auth_Service.showregisterWindow"></app-user-registration>
                  <app-sign-in [login-model]="loginModel" [showSignInWindow]="auth_Service.showSignInWindow"></app-sign-in>
                  <app-otp-verification [showOTPWindow]="auth_Service.showOTPWindow"></app-otp-verification>
                </amexio-column>
              </amexio-row>
            </amexio-layout-item>
          </amexio-layout-columns>
        </amexio-layout-item>
      </amexio-layout-columns>
    </amexio-column>
  </amexio-row>
</div>

