<!-- <amexio-row>
  <amexio-column size="12" style="padding-top:5%">
    <amexio-card [header]="false" [footer]="false">
      <amexio-body>
        <amexio-row>
          <amexio-column size="1" [fit]="true">
            <amexio-layout-columns [fit]="true" [border]="true" [orientation]="'vertical'" [alignment]="'start'">
              <amexio-layout-item *ngFor="let photos of properyDetails.images">
                <amexio-image [width]="'80px'" [height]="'80px'" path="{{photos}}">
                </amexio-image>
              </amexio-layout-item>
            </amexio-layout-columns>
          </amexio-column>
          <amexio-column size="5">
            <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
              <amexio-layout-item>
                <amexio-image [width]="'400px'" [height]="'360px'" path="{{properyDetails.images[0]}}">
                </amexio-image>
              </amexio-layout-item>
            </amexio-layout-columns>
            <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
              <amexio-layout-item>
                <amexio-button [size]="'default'" [icon]="'fa fa-arrow-left fa-lg'" [label]="'Back'" [type]="'secondary'" [tooltip]="'Back'"
                  (onClick)="onBack()">
                </amexio-button>
                <amexio-button [size]="'default'" [icon]="'fa fa-money'" [label]="'Buy Now'" [type]="'primary'" [tooltip]="'Buy Now'" (onClick)="onBuyNowClick(properyDetails)">
                </amexio-button>
              </amexio-layout-item>
            </amexio-layout-columns>
            <amexio-google-map [initial-zoom-level]="12" [height]="'500px'" [initial-lat]="18.512840" [initial-lng]="73.926220" [data]="data"
              (onMarkerClick)="onMarkerClick($event)" [google-map-key]="'AIzaSyDKSPX97z-ndeh_Mgq3xkaML2Kp9AwHA9s'">
            </amexio-google-map>
          </amexio-column>
          <amexio-column size="6" [fit]="fit">
               <div style="cursor: pointer">
             
                  <table>
                    <tr>
                      <td>
                        <p>
                          <amexio-label size="medium-bold">{{properyDetails.title}} </amexio-label> <br>{{properyDetails.subtitle}} <br>
                          <amexio-image [icon-class]="'fa fa-map-marker fa-lg'" (onClick)="getLocation(properyDetails)"></amexio-image> &nbsp;
                          <amexio-label>{{properyDetails.address}}.</amexio-label>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <amexio-image [icon-class]="'fa fa-inr fa-lg'"></amexio-image> &nbsp;
                        <amexio-label size="medium-bold">{{properyDetails.price}} </amexio-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <amexio-rating-input [(ngModel)]="properyDetails.rating" [max]="'5'" [read-only]="true">
                        </amexio-rating-input>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>{{properyDetails.description}} </p>
                      </td>
                    </tr>

                  </table>
               
                </div>

                <ul *ngFor="let details of properyDetails.details">
                  <li>{{details}}</li>
                </ul>
          </amexio-column>
        </amexio-row>
      </amexio-body>
    </amexio-card>
  </amexio-column>
</amexio-row> -->
<amexio-row>
  <amexio-column size="12" style="padding-top:5%">
    <amexio-card [header]="false" [footer]="false">
      <amexio-body>
        <amexio-row>
          <amexio-column size="12" [fit]="true">
            <amexio-layout-grid [layout]="'Home'">
              <amexio-grid-item [name]="'gridicon'">
                <amexio-image *ngFor="let photos of properyDetails.images" [width]="'90px'" [height]="'80px'" path="{{photos}}" (onClick)="onImageClick(photos)">
                </amexio-image>
              </amexio-grid-item>
              <amexio-grid-item [name]="'gridimage'">
                <amexio-image [width]="'420px'" [height]="'420px'" path="{{mainImagePath}}">
                </amexio-image>
              </amexio-grid-item>
              <amexio-grid-item [name]="'griddescription'">
                <div style="cursor: pointer">

                  <table>
                    <tr>
                      <td>
                        <p>
                          <amexio-label size="medium-bold">{{properyDetails.title}} </amexio-label> <br>{{properyDetails.subtitle}} <br>
                          <amexio-image [icon-class]="'fa fa-map-marker fa-lg'" (onClick)="getLocation(properyDetails)"></amexio-image> &nbsp;
                          <amexio-label>{{properyDetails.address}}.</amexio-label>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <amexio-image [icon-class]="'fa fa-inr fa-lg'"></amexio-image> &nbsp;
                        <amexio-label size="medium-bold">{{properyDetails.price}} </amexio-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <amexio-rating-input [(ngModel)]="properyDetails.rating" [max]="'5'" [read-only]="true">
                        </amexio-rating-input>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>{{properyDetails.description}} </p>
                      </td>
                    </tr>

                  </table>

                </div>

                <ul *ngFor="let details of properyDetails.details">
                  <li>{{details}}</li>
                </ul>
              </amexio-grid-item>
              <amexio-grid-item [name]="'gridmap'">
                <amexio-google-map [initial-zoom-level]="12" [height]="'500px'" [initial-lat]="18.512840" [initial-lng]="73.926220" [data]="data"
                  (onMarkerClick)="onMarkerClick($event)" [google-map-key]="'AIzaSyDKSPX97z-ndeh_Mgq3xkaML2Kp9AwHA9s'">
                </amexio-google-map>
              </amexio-grid-item>
              <amexio-grid-item [name]="'gridbutton'">
                <amexio-row>
                  <amexio-column size="6" [fit]="true">

                    <amexio-button [block]="true" [size]="'default'" [icon]="'fa fa-arrow-left'" [label]="'Back to list'" [type]="'secondary'" [tooltip]="'Back'"
                      (onClick)="onBack()">
                    </amexio-button>
                  </amexio-column>
                  <amexio-column size="6" [fit]="true">
                    <amexio-button [block]="true" [size]="'default'" [icon]="'fa fa-money'" [label]="'Buy Now'" [type]="'primary'" [tooltip]="'Buy Now'"
                      (onClick)="onBuyNowClick(properyDetails)">
                    </amexio-button>
                  </amexio-column>
                </amexio-row>
              </amexio-grid-item>
            </amexio-layout-grid>
          </amexio-column>
        </amexio-row>
      </amexio-body>
    </amexio-card>
  </amexio-column>
</amexio-row>