<amexio-row >
  <amexio-column size ="12"
          [fit]="true" style="padding-top:65px;background-color:grey;">
      <amexio-layout-columns [fit]="true" [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
                  <amexio-layout-item>
                    <app-searchbox [search-model]="searchModel"></app-searchbox>
                  </amexio-layout-item>
                </amexio-layout-columns>
  </amexio-column>
<!-- </amexio-row>
<amexio-row> -->
  <amexio-column size="12" >
    <amexio-card [header]="false" [footer]="false">
      <amexio-body>
        <amexio-row>
          <amexio-column size ="12"
                  [fit]="true">
            <amexio-image style="cursor: pointer;" [icon-class]="'fa fa-arrow-left fa-lg'" [tooltip]="'Back'" (onClick)="onBack()"></amexio-image>
          </amexio-column>
          <amexio-column size="12" [fit]="true">
            <amexio-layout-grid [layout]="'Home'">
              <!-- <amexio-grid-item [name]="'searchBox'">
              
              </amexio-grid-item> -->
              <amexio-grid-item [name]="'gridicon'">
                <amexio-image class="cardIconImage" *ngFor="let photos of properyDetails.images"  path="{{photos}}" (onClick)="onImageClick(photos)">
                </amexio-image>
              </amexio-grid-item>
              <amexio-grid-item [name]="'gridimage'">
                <amexio-image class="maincardImage" path="{{mainImagePath}}">
                </amexio-image>
              </amexio-grid-item>
              <amexio-grid-item [name]="'griddescription'">
                <app-details-card [data]="properyDetails" [isListCard]="false"></app-details-card>
                <div style="cursor: pointer">

                  <table>
                    <tr>
                      <td>
                        <p>{{properyDetails.description}} </p>
                      </td>
                    </tr>

                  </table>

                </div>

                <ul *ngFor="let details of properyDetails.details">
                  <li>{{details}}</li>
                </ul>
              </amexio-grid-item>
              <amexio-grid-item [name]="'gridmap'">
                <amexio-google-map [initial-zoom-level]="12" [height]="'500px'" [initial-lat]="18.512840" [initial-lng]="73.926220" [data]="data"
                  (onMarkerClick)="onMarkerClick($event)" [google-map-key]="'AIzaSyDKSPX97z-ndeh_Mgq3xkaML2Kp9AwHA9s'">
                </amexio-google-map>
              </amexio-grid-item>
              <amexio-grid-item [name]="'gridbutton'">
                <amexio-row>
                  <amexio-column size="6" [fit]="true">

                    <amexio-button [block]="true" [size]="'default'" [icon]="'fa fa-arrow-left'" [label]="'Back to list'" [type]="'secondary'"
                      [tooltip]="'Back'" (onClick)="onBack()">
                    </amexio-button>
                  </amexio-column>
                  <amexio-column size="6" [fit]="true">
                    <amexio-button [block]="true" [size]="'default'" [icon]="'fa fa-money'" [label]="'Buy Now'" [type]="'primary'" [tooltip]="'Buy Now'"
                      (onClick)="onBuyNowClick(properyDetails)">
                    </amexio-button>
                  </amexio-column>
                </amexio-row>
              </amexio-grid-item>
            </amexio-layout-grid>
          </amexio-column>
        </amexio-row>
      </amexio-body>
    </amexio-card>
  </amexio-column>
</amexio-row>